<!DOCTYPE html>
<html lang="pt">
    <title>{{titulo}}</title>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container" style="margin-top: 75px" id="meio">
        {{{body}}}
    </div>
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>