<!DOCTYPE html>
<html lang="pt">
    <title>{{titulo}}</title>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" /> 
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
  </head>
  <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-weight: bold; text-shadow:0.1em 0.1em 0.2em black">
              <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home"></i> Início</a>
              </li>
              <li class="nav-item" title="Nuvem de palavras">
                <a class="nav-link" href="/nuvem"><i class="fas fa-cloud"></i> Nuvem de Palavras</a>
              </li>
              <li class="nav-item" title="Analise um tweet individualmente">
                <a class="nav-link" href="/analise"><i class="fab fa-twitter"></i> Análise Individual</a>
              </li>
              <li class="nav-item" title="Sobre o projeto">
                <a class="nav-link" href="/sobre"><i class="fas fa-list"></i> Sobre</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        {{{body}}}
      </div>

      <footer class="footer py-4  ">
      </footer>
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!--   Core JS Files   -->
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/assets/js/plugins/chartjs.min.js"></script>
</html>