<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <h5 class="font-weight-bolder mb-0"><i class="fab fa-twitter"></i> Análise Individual</h5>
          <br/>
        </nav>
</nav>


<div class="container">

    <div>
        <p>Nesta página você poderá analisar qual sentimento está presente em um determinado tweet em específico.</p>
        <p>Basta inserir o texto na caixa abaixo e clicar em analisar para ver o sentimento que foi definido para o tweet.</p>
    </div>
    </br>
    <form action="" method="post">
        <label for="w3review">Coloque abaixo o texto do tweet que deseja ser analisado.</label>
        </br>
        <div>
            <textarea id="w3review" name="w3review" rows="4" cols="100" >
        
            </textarea>
        </div>

        <button class="btn btn-primary" style="background-color: lightsteelblue;" type="submit">Analisar</button>
    </form>
    
</div>
