<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <h5 class="font-weight-bolder mb-0"><i class="fas fa-cloud"></i> Nuvem de Palavras</h5>
          <br/>
        </nav>
</nav>
<!-- End Navbar -->
<div class="container-fluid px-2 px-md-4">
  <div class="page-header min-height-150 border-radius-xl mt-3" style="">
  </div>
  <div class="card card-body mx-3 mx-md-4 mt-n10">
    <img src="/img/nuvem.png" alt="nuvem-de-palavras" class="img-fluid shadow border-radius-xl">
  </div>
</div>