<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <h5 class="font-weight-bolder mb-0"><i class="fas fa-list"></i> Sobre a aplicação</h5>
          <br/>
        </nav>
</nav>

<div class="container">
    <p>Este projeto foi desenvolvido durante os anos de 2021 e 2022 na task  WP2-ICOMP-Est. de Grad. Tipo 1 (ICT-I) dentro do Projeto SUPER.</p>
    <p>Este website trata-se de um dashbord dinâmico de acompanhamento dos Trendig Topics do Twitter no Brasi,
        onde dados são coletados através da API da rede social e é aplicada a análise de sentimentos nestes tweets
        para identificar o sentimento mais comum a respeito de um determinado hashtag, assunto ou pessoa que está
        sendo muito comentado no Twitter.
    </p>
    <p>Além disso o site contém também uma nuvem de palavras com os Trending Topics mais recente coletado,
         gráficos para exibir sobre cada um que podem ser acessados a partir da tela inicial e a opção para 
         realizar a análise de um tweet específico.
    </p>
    <p>
        O projeto foi desenvolvido em python utilizando a biblioteca tweepy para a coleta das informações na API
        e os dados são armazenados em um banco de dados MongoDB. Toda a análise de sentimentos foi realizada com 
        machine learnig com o algoritmo Naive Bayes.
    </p>
    <p>
        A parte web do projeto pode ser encontrado no repositório do GitHub: https://github.com/tbgdmelo/dashtwitter
    </p>
    <p>
        Os algoritmos que realizam as buscas e análise de sentimentos pode ser encontrado no repositório do GitHub: https://github.com/tbgdmelo/dashboard
    </p>
</div>